[submodule "Dependencies/meshoptimizer"]
	path = Dependencies/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
	branch = master
[submodule "Dependencies/libdeflate"]
	path = Dependencies/libdeflate
	url = https://github.com/ebiggers/libdeflate.git
[submodule "Dependencies/detours"]
	path = Dependencies/detours
	url = https://github.com/Nukem9/detours.git
[submodule "Perchik71"]
	path = Dependencies/mINI
	url = https://github.com/Perchik71/mINI
[submodule "Dependencies/tbb"]
	path = Dependencies/tbb
	url = https://github.com/oneapi-src/oneTBB.git
	branch = tbb_2020
[submodule "Dependencies/zipper"]
	path = Dependencies/zipper
	url = https://github.com/kuba--/zip.git
[submodule "Dependencies/jDialogs"]
	path = Dependencies/jDialogs
	url = https://github.com/Perchik71/jDialogs.git
