# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
*.idb
*.ipdb
*.exp
*.db
*.iobj
*.opendb

# VS2017
.vs/
packages/
x64/
x86/

# VTune
*/*My Amplifier Results*/
*/*My Inspector Results*/
*/*My Advisor Results*/

# Nsight
*.nvuser

fallout4_test/src/version_info.h
fallout4_test/VTune Amplifier Results/
fallout4_test/fallout4_test.vcxproj.user
fallout4_test/resource.aps
Dependencies/libdeflate.vcxproj.user
Dependencies/libdeflate.vcxproj
Dependencies/tbb
Dependencies/json
*.lnk

# other
*.cer
*.bat
Resources/f4ck_loader.bin
